# OS
.DS_Store

# Editors/IDEs
.Rproj.user/
.vscode/
.idea/

# Python
.venv/
__pycache__/
*.pyc

# R
.Rhistory
.RData
.Ruserdata
renv/library/
.packrat/

# Quarto/Shiny
.quarto/
dashboards/quarto/_site/

# Data (large/unversioned)
data_raw/
!data_raw/.gitkeep

# Secrets
.env
